<section id="comments" class="comments-area">
{% if post.comment_count > 0 %}
  <h2 class="comments-title">
    {% if post.comment_count == 1 %}
    {{ __('One comment on &ldquo;%s&rdquo;', 'simple-grey')|format(post.post_title) }}
    {% else %}
    {{ __('%1$s comments on &ldquo;%2$s&rdquo;', 'simple-grey')|format(post.comment_count, post.post_title) }}
    {% endif %}
  </h2>
  <ol class="comment-list">
  {% for cmt in post.comments %}
    {% include 'comment.twig' with { 'comment': cmt, 'depth': 1 } %}
  {% endfor %}
  </ol>
{% endif %}

{% if post.comment_status == 'open' %}
  {{ comment_form }}
</div>
{% else %}
  <p class="no-comments">{{__( 'Comments are closed.', 'simple-grey' )}}</p>
{% endif %}
</section>
