{% extends "content/teaser.twig" %}

{% block content %}
  <div class="entry-content">
    {{post.content}}
    {{function('the_meta')}}
  </div>
  <!-- .entry-content -->
{% endblock %}

{% block entry_footer %}
  <footer class="entry-footer">
    {% include "partials/post-updated.twig" %}
    <p class="entry-meta">{% include "partials/post-taxonomy-categories.twig" %}</p>
    <p class="entry-meta">{% include "partials/post-taxonomy-tags.twig" %}</p>
    <p class="entry-meta">{% include "partials/post-edit.twig" %}</p>
  </footer>
  <!-- .entry-meta -->
{% endblock %}
