{% extends "index.twig" %}

{% block page_header %}
  {% if title or archive_descripton %}
  <header class="page-header col">
    {% if title %}<h1 class="page-title">{{title}}</h1>{% endif %}
    {% if archive_descripton %}<div class="taxonomy-description">{{archive_descripton}}</div>{% endif %}
  </header><!-- .page-header -->
  {% endif %}
{% endblock %}
