{% extends "base.twig" %}

{% block main %}
  <section class="maintenance-mode">
    <header class="page-header">
      <h1 class="page-title">{{__( 'Site Under Maintenance', 'simple-grey' )}}</h1>
    </header>
    <!-- .page-header -->

    <div class="page-content">
      <p>{{__( "We're currently performing maintenance on this website. Please check back soon.", 'simple-grey' )}}</p>
    </div>
    <!-- .page-content -->
  </section>
  <!-- .maintenance-mode -->
{% endblock %}
