{% extends "base.twig" %}

{% block page_header %}
  <header class="page-header col">
    <h1 class="page-title">{{ __( 'Search Results for: %s', 'simple-grey' )|format(search_query) }}</h1>
  </header><!-- .page-header -->
{% endblock %}

{% block content %}
    {% for post in posts %}
      {% include 'content-search.twig' %}
    {% endfor %}
  {% if pagination_style == false or pagination_style == 'numbered' %}
      {{ function('simple_grey_numbered_pagingation') }}
  {% else %}
    {% include 'partials/paging-nav.twig' %}
  {% endif %}

{% endblock %}
